<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>To-Do list</title>
  </head>

  <body>
	<h1>{% block header_text %}{% endblock %}</h1>

    <form method="post" action="{% block form_action %}{% endblock %}">
	  <input id="id_new_item" type="text" name="item_text" size="" placeholder="Enter a to-do item">
	  {% csrf_token %}
    </form>
    {% block table %}
    {% endblock %}
  </body>
</html>
